<% text = type == "viewed" ? "Based on repositories you've viewed" : "Based on your public repository contribution" %>

  <header class='flex fl-d-co fl-al-st'>
    <div class='flex fl-al-c'>
      <span><%= partial "views/components/vector_telescope" %></span>
      <span class='pl-2 text-small'><%= text %></span>
    </div> 
    <div class='flex fl-jc-sb full-width'>
      <div class='flex fl-al-c'>
        <%= partial 'views/components/vector_book' %>
        <%= link_to repo.team, "http://www.github.com/#{repo.team}", class: 'pl-2' %> / <%= link_to repo.project, "http://www.github.com/#{repo.team}/#{repo.project}" %>
      </div>
      <div class='flex'>
        <button class='flex fl-al-c btn btn-left-radius'>
          <%= partial 'views/components/vector_star'%> 
          <span class='pl-1'>Star</span>
        </button>
        <span class='full-border p-1 text-small data-feed-stars'><%=repo.stars%></span>
      </div>
    </div>
  </header>
