<div class='repository-row'>
  <div class='repo-info'>

    <div class='repo-title'>
      <%= partial 'views/components/book_vector' %>
      <span>
        <%=link_to repo.team %> / <%=link_to repo.project%>
      </span>
    </div>

    <% link_to "#", class: 'repo-stars-link' do %>
      <%= partial 'views/components/stars_vector' %>
      <%= repo.stars %>
    <% end %>

  </div>
  <span class='text-gray text-small justified repo-description'><%=repo.description %></span>
</div>
